/* _________________________________________________________
---------------------    RESPONSIVE    ---------------------
------------------------------------------------------------ */

/*____________________________________
-------    Mobile L (425px)    -------
--------------------------------------*/
@media all and (min-width: 425px) {
  /* --------  Main Container  -------- */
  .title {
    margin-top: 22px;
    max-width: none;
  }
  .unit-container,
  #convert-btn {
    margin-top: 22px;
  }
}



/*_____________________________________
-------    Mobile XL (500px)    -------
--------------------------------------*/
@media all and (min-width: 500px) {
  /* --------  Wrapper  -------- */
  #wrapper {
    height: 570px;
    margin-top: 100px;
  }
  /* --------  Main Container  -------- */
  .title {
    margin-top: 25px;
    font-size: 1.6em;
  }
  .unit-container {
    border-width: 3px;
    height: 60px;
    margin-top: 25px;
    font-size: 2.3em;
    font-weight: 800;
  }
  #convert-btn {
    padding: 10px 25px;
  }
  /* --------  Second Container  -------- */
  /*--- Conversion Containers ---*/
  .length-container,
  .volume-container,
  .mass-container {
    height: 85px;
    max-width: 430px;
    margin-top: 21px;
  }
  .converted-title {
    margin-top: 10px;
  }
}



/*____________________________________
-------    Tablet (768px)    -------
--------------------------------------*/
@media all and (min-width: 768px) {
  /* --------  Wrapper  -------- */
  #wrapper {
    height: 600px;
    max-width: 550px;
  }
  /* --------  Main Container  -------- */
  #main-container {
    height: 38%;
  }
  /* --------  Second Container  -------- */
  #second-container {
    height: 62%;
  }
  span {
    display: block;
    font-size: 0.9em;
    line-height: 1.3;
    margin-left: 5px;
    margin-right: 5px;
  }
  /*--- Conversion Containers ---*/
  .length-container,
  .volume-container,
  .mass-container {
    height: 95px;
    width: 92%;
    max-width: none;
  }
  .converted-title {
    width: 95%;
    margin: 22px auto 0 auto;
    font-size: 1.1em;
  }
  .converted-length,
  .converted-volume,
  .converted-mass {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 10px auto 0 auto;
  }
  .meters, .feet,
  .liters, .gallons,
  .kilograms, .pounds {
    font-size: 0.9em;
  }
}