/* _________________________________________________
// -------------------  PROJECT  -------------------
// ------------------------------------------------- */

/* NOTES ----> IMPORTANT!*/
/*
When project is finished:
Search DELETE - and delete extra or no-needing rules
Search font-weight: and leave ONLY the ones needed and in use in html
*/

/* --------  Defaults  -------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

div {
  overflow: auto;
}

body {
  font-family: 'Inter', sans-serif;
}
/* --------  Font Management  -------- 
Current Fonts Weights in use:
0

100-900
*/


/* --------  Wrapper  -------- */
#wrapper {
  border: 2px solid #ecebeb;
  height: 500px;
  max-width: 500px;
  margin: 50px auto 50px auto;
  border-radius: 6px;
}

/* --------  Main Container  -------- */
#main-container {
  background: #6943FF;
  height: 40%;
  text-align: center;
}

.title {
  margin-top: 15px;
  margin: 15px auto 0 auto;
  color: #F4F4F4;
  font-weight: 700;
  font-size: 1.5em;
  max-width: 320px;
}

.unit-container {
  border: 2px solid #B295FF;
  background-color: transparent;
  color: #FFF;
  border-radius: 4px;
  width: 250px;
  height: 50px;
  margin: 10px auto 0 auto;
  display: block;
  font-weight: 700;
  font-size: 2em;
  padding: 0 10px;
  text-align: center;
}

#convert-btn {
  margin-top: 15px;
  background-color: #FFF;
  color: #3D3D3D;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 13px;
  cursor: pointer;
}


/* --------  Second Container  -------- */
#second-container {
  background-color: #F4F4F4;
  height: 60%;
}

span {
  display: none;
}


/*--- Conversion Containers ---*/
.length-container,
.volume-container,
.mass-container {
  background-color: #FFF;
  border-radius: 4px;
  height: 75px;
  width: 90%;
  max-width: 350px;
  margin: 18px auto 0 auto;
  text-align: center;
}

.converted-title {
  margin-top: 7px;
  color: #5A537B;
  font-weight: 600;
  font-size: 1.05em;
}

.converted-length,
.converted-volume,
.converted-mass {
  margin-top: 5px;
}

.meters, .feet,
.liters, .gallons,
.kilograms, .pounds {
  color: #353535;
  font-size: 0.88em;
  font-weight: 400; /*DELETE because this is the default style*/
  line-height: 1.3;
}